name: CMake

on:
  push:
    branches: 
      - develop
      - master
  pull_request:
    branches: 
      - develop
      - master

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  CTEST_OUTPUT_ON_FAILURE: ON
  CTEST_PARALLEL_LEVEL: 2

jobs:
  ####################
  # Linux / macOS
  ####################
  Unix:
    name: ${{ matrix.os }} ${{ matrix.build-params.WITH_MINC1 == 'ON' && 'MINC_1_2' || 'MINC_1'}} ${{ matrix.build-params.tests == 'ON' && 'tests' || ''}} ${{ matrix.build-params.USE_NIFTI == 'ON' && 'NIFTI' || ''}} ${{ matrix.config }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-14, macos-15]
        config: [Release]
        build-params: 
          - {static:  ON, WITH_MINC1:  ON, tests:  ON, USE_NIFTI: OFF }
          - {static:  ON, WITH_MINC1:  ON, tests:  ON, USE_NIFTI: OFF }
          - {static: OFF, WITH_MINC1: OFF, tests:  ON, USE_NIFTI: OFF }
          - {static:  ON, WITH_MINC1:  ON, tests:  ON, USE_NIFTI:  ON }
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 10

    - name: Install dependencies  (Linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt update
        sudo apt install -y libhdf5-dev libnetcdf-dev

    - name: Install dependencies (macOS)
      if: runner.os == 'macOS'
      run: |
          HOMEBREW_NO_AUTO_UPDATE=1 brew install hdf5 netcdf

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ matrix.os }}-${{ matrix.config }}-${{ matrix.build-params.static }}-${{ matrix.build-params.WITH_MINC1 }}-${{ matrix.build-params.USE_NIFTI }}
        max-size: 1G

    - name: Configure CMake 
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: |
        cmake -B ${{github.workspace}}/build \
          -DCMAKE_C_COMPILER_LAUNCHER=ccache \
          -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
          -DCMAKE_BUILD_TYPE=${{ matrix.config }} \
          -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
          -DLIBMINC_MINC1_SUPPORT:BOOL=${{ matrix.build-params.WITH_MINC1 }} \
          -DLIBMINC_USE_NIFTI:BOOL=${{ matrix.build-params.USE_NIFTI }} \
          -DBUILD_TESTING:BOOL=${{ matrix.build-params.tests }} 

    - name: Build
      working-directory: ${{github.workspace}}/build
      # Build your program with the given configuration
      run: make -j2

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest --verbose
      
